# Canbe development or production
NODE_ENV=development

DATABASE_URL=postgres://user:password@localhost:5432/database

# Access token secrets
ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=secret
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

# Email
EMAIL_USERNAME=your_email
EMAIL_PASSWORD=your_password
